@inject IViewLocalizer Localizer

<div class="modal fade" id="modal-12" tabindex="-1" role="dialog" aria-labelledby="modal-12">
    <div class="modal-dialog modal-dialog-centered modal-min" role="document">
        <div class="modal-content">

            <div class="modal-body text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="@Localizer["Close"]"><span aria-hidden="true">&times;</span></button>
                <i class="flaticon-secure-shield d-block"></i>
                <h1>@Localizer["Forgot Password?"]</h1>
                <p> @Localizer["Enter your email to recover your password"] </p>
                <form method="post">
                    <div class="ms-form-group has-icon">
                        <input type="text" placeholder="@Localizer["Email Address"]" class="form-control" name="forgot-password" value="">
                        <i class="material-icons">email</i>
                    </div>
                    <button type="submit" class="btn btn-primary shadow-none">
                        @Localizer["Reset Password"]
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>