@inject IViewLocalizer Localizer

@model Workie.Web.Admin.Areas.Account.Models.Profile.ViewProfileViewModel

<div class="col-md-12">
    <div class="ms-panel">
        <div class="ms-panel-header">
            <h6>
                @Localizer["View Profile"]
            </h6>
        </div>
        <div class="ms-panel-body">
            <form>
                <div class="form-group">
                    <label for="exampleEmail">
                        @Localizer["Full Name"]
                    </label>
                    <input id="FullName" name="FullName" class="form-control" value="@Model.FullName" readonly="">
                </div>
                <div class="form-group">
                    <label for="exampleEmail">
                        @Localizer["Email address"]
                    </label>
                    <input id="EmailAddress" name="EmailAddress" class="form-control" value="@Model.Email" readonly="">
                </div>
                <input type="button" onclick="ProfileModule.editProfile()" class="btn btn-outline-primary d-block mt-5" value="@Localizer["Edit"]" name="btn0">
            </form>
        </div>
    </div>
</div>