@inject IViewLocalizer Localizer

@model Workie.Web.Admin.Areas.Auth.Models.Login.ForgotPasswordViewModel

<div class="modal fade" id="modal-12" tabindex="-1" role="dialog" aria-labelledby="modal-12">
    <div class="modal-dialog modal-dialog-centered modal-min" role="document">
        <div class="modal-content">

            <div class="modal-body text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="@Localizer["Close"]"><span aria-hidden="true">&times;</span></button>
                <i class="flaticon-secure-shield d-block"></i>
                <h1 id="title-forgot-password">
                    @Localizer["Forgot Password?"]
                </h1>
                <h1 id="title-success" class="collapse">
                    @Localizer["Success"]
                </h1>

                <p id="description-forgot-password">
                    @Localizer["Enter your email to recover your password"]
                </p>

                <p id="description-success" class="collapse">
                    @Localizer["Please check your email to finish password reset procedure."]
                </p>

                <form asp-area="Auth" asp-controller="Login" asp-action="ResetPassword"
                      data-ajax-mode="replace"
                      data-ajax="true"
                      method="post"
                      data-ajax-begin="LoginModule.onResetPasswordSubmitBegin"
                      data-ajax-success="LoginModule.onResetPasswordSubmitSuccess"
                      data-ajax-failure="LoginModule.onResetPasswordSubmitFailure"
                      id="ResetPasswordTableForm">

                    <div class="ms-form-group has-icon">
                        <input type="text" placeholder="@Localizer["Email Address"]" class="form-control" name="EmailAddress" value="">
                        <i class="material-icons">email</i>
                    </div>
                    <button type="submit" class="btn btn-primary shadow-none" data-swal="basic" name="button">
                        @Localizer["Reset Password"]
                    </button>
                </form>

            </div>
        </div>
    </div>
</div>