@using Workie.Web.Admin.Areas.Apps.Models.Todo.QuickbarControls
@using System.Collections.Generic

@inject IViewLocalizer Localizer

@model List<QuickbarControlsTodoViewViewModel>

@if (Model == null)
{
    <partial name="QuickbarControls/DataTable/_DataTable_TableEmpty" />
    return;
}

@if (Model.Count.Equals(0))
{
    <partial name="QuickbarControls/DataTable/_DataTable_TableEmpty" />
    return;
}

<ul class="ms-todo-list">
    @foreach (var elem in Model)
    {
        <li class="ms-card ms-qa-card ms-deletable">
            <div class="ms-card-header clearfix">
                <h6 class="ms-card-title">
                    @elem.Title
                </h6>
                <button data-toggle="tooltip" data-placement="left" title="@Localizer["Add a Task to this block"]" class="ms-add-task-to-block ms-btn-icon float-right">
                    <i class="material-icons">
                        @Localizer["add"]
                    </i>
                </button>
            </div>
            <div class="ms-card-body">
                <ul class="ms-list ms-task-block"> </ul>
            </div>
            <div class="ms-card-footer clearfix">
                <a href="#" class="text-disabled mr-2">
                    <i class="flaticon-archive"> </i>
                    @Localizer["Archive"]
                </a>
                <a onclick="QuickbarTodoIndexModule.deleteTodoById('@elem.Id')" class="text-disabled ms-delete-trigger float-right">
                    <i class="flaticon-trash"> </i>
                    @Localizer["Delete"]
                </a>
            </div>
        </li>
    }
</ul>