@inject IViewLocalizer Localizer

@model Workie.Web.Admin.Areas.Auth.Models.Register.RegisterViewModel


<div class="ms-content-wrapper">
    <div class="row justify-content-around">
        <div class="col-xl-6 col-md-12 ">
            <div class="ms-panel ms-panel-fh">
                <div class="ms-panel-header">
                    <h6>@Localizer["Signup Form"]</h6>
                </div>
                <div class="ms-panel-body">

                    <div id="RegisterResult">

                        <form asp-area="Auth" asp-controller="Register" asp-action="Register"
                              data-ajax-mode="replace"
                              data-ajax="true"
                              data-ajax-update="#RegisterResult"
                              class="needs-validation clearfix" novalidate="">

                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="validationCustom18">@Localizer["First name"]</label>
                                    <div class="input-group">
                                        <input name="FirstName" id="validationCustom18" type="text" class="form-control" required="">
                                        <div class="valid-feedback">
                                            @Localizer["Looks good!"]
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="validationCustom19">
                                        @Localizer["Last name"]
                                    </label>
                                    <div class="input-group">
                                        <input name="LastName" type="text" class="form-control" id="validationCustom19" required="">
                                        <div class="valid-feedback">
                                            @Localizer["Looks good!"]
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="validationCustom20">
                                        @Localizer["E-mail Address"]
                                    </label>
                                    <div class="input-group">
                                        <input name="EmailAddress" type="email" class="form-control" id="validationCustom20" placeholder="someone@example.com" required="">
                                        <div class="invalid-feedback">
                                            @Localizer["Please provide a valid email."]
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="validationCustom21">
                                        @Localizer["Comapny"]
                                    </label>
                                    <div class="input-group">
                                        <input name="Company" class="form-control" id="validationCustom21" required="">
                                        <div class="invalid-feedback">
                                            @Localizer["Please provide your company's name."]
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="validationCustom22">
                                        @Localizer["Country"]
                                    </label>
                                    <div class="input-group">
                                        <select class="form-control" id="validationCustom22" required="">
                                            <option value="">Lebanon</option>
                                            <option value="">United States</option>
                                            <option value="">United Kingdom</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            @Localizer["Please select a Country."]
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-check pl-0">
                                    <label class="ms-checkbox-wrap">
                                        <input name="_termsAndConditionId" class="form-check-input" type="checkbox" value="" id="invalidCheck">
                                        <i class="ms-checkbox-check"></i>
                                    </label>
                                    <span>@Localizer["I agree to the terms and conditions."]</span>

                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary mt-4 d-block w-100">
                                @Localizer["Create Account"]
                            </button>
                        </form>
                        <p class="mb-0 mt-3">
                            @Localizer["Already got an account?"]&nbsp;
                            <a asp-controller="login" asp-area="auth" asp-action="" class="btn-link">
                                @Localizer["Login here"]
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>