@inject IViewLocalizer Localizer

@model Workie.Web.Admin.Areas.Apps.Models.Todo.QuickbarControls.QuickbarControlsTaskViewViewModel

<li class="ms-card ms-qa-card ms-deletable">
    @Html.HiddenFor(Model => Model.TaskId)
    <div class="ms-card-header clearfix">
        <h6 class="ms-card-title"></h6>
        <button data-toggle="tooltip" data-placement="left" title="@Localizer["Add a Task to this block"]" class="ms-add-task-to-block ms-btn-icon float-right">
            <i class="material-icons">
                @Localizer["add"]
            </i>
        </button>
    </div>
    <div class="ms-card-body">
        <ul class="ms-list ms-task-block"></ul>
    </div>
    <div class="ms-card-footer clearfix">
        <a href="#" class="text-disabled mr-2">
            <i class="flaticon-archive"> </i>
            @Localizer["Archive"]
        </a>
        <a onclick="QuickbarTodoIndexModule.deleteTodo(this)" class="text-disabled ms-delete-trigger float-right">
            <i class="flaticon-trash"> </i>
            @Localizer["Delete"]
        </a>
    </div>
</li>